h1, h2, h3, h4{
    text-align: center;
}

h2{
    color: red;
    text-align: center;
}

div{
    text-align: center;
}

.sample_image_1{
    height: 25%;
    width: 25%;
    display: inline-block;
    border: 5px solid red;
}

.sample_image_2{
    height: 25%;
    width: 25%;
    display: inline-block;
    border: 5px solid orange;
}